.animal-body{
    border-radius: 25px;
    background: #E55300; 
    padding: 10px;
    text-align: center;
}

.animal-body img{
    border-radius: 25px;
    max-width: 400px;
}

.animal-text{
    text-align: center;
    color: #E55300;
}
