<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
  <form name="login" action="homepage" method="get">
    <h3>Login</h3>
    <table>
      <tr>
        <td><label>User</label></td>
        <td><input name="user" type="text"></input></td>
      </tr><tr>
        <td><label>Pass</label></td>
        <td><input name="pass" type="password"></input></td>
      </tr>
    </table>
    <input type="submit" value="submit"></input>
  </form>
  </body>
</html>
