<html>
  <head>
    <title>Static Assets</title>
    <!-- It makes it so that the contents of the public folder are exposed -->
    <!-- on the same directory as the page displayed. -->
    <link href="./common/style.css" rel="stylesheet" > </link>
    <script type="text/javascript" src="./common/script.js"> </script>
  </head>
  <body>
     <div class='center-focused'>
        <img src='./imgs/sunrise.png'></img>
        <h6>All images taken from <a href="https://game-icons.net/">game-icons.net</a></h6>
        <button onclick="prompt()">Press</button>
    </div>
  </body>
</html>
