<html>
  <head>
    <title>Survey in Cookies</title>
  </head>
  <body>
  <form name="survey" action="answers" method="get">
    <h3>Survey in Cookies</h3>
    <table>
      <tr>
        <td><label>Last name</label></td>
        <td><input name="last" type="text" /></td>
      </tr><tr>
        <td><label>First name</label></td>
        <td><input name="first" type="text" /></td>
      </tr><tr>
        <td><label>ID</label></td>
        <td><input name="id" type="text" /></td>
      </tr>
    </table>
    <input type="submit" value="submit" />
  </form>
  </body>
</html>
