
<html>

    <head>
        <title>Start Page</title>
    </head>
    
    <body onload="setSelectedOption()">
        <form action="text" name="colorform" method="get">
            <table>
                <tr>
                    <td>Background color: </td>
                    <td>
                        <select name="backgroundcolor" id="backgroundcolor">
                                <option id="back-green" value="green">Green</option>
                                <option id="back-black" value="black">Black</option>
                                <option id="back-white" value="white">White</option>
                                <option id="back-red" value="red">Red</option>
                                <option id="back-yellow" value="yellow">Yellow</option>
                                <option id="back-blue" value="blue">Blue</option>
                            </select>
                    </td>
                </tr>
                <tr>
                    <td>Font color: </td>
                    <td>
                        <select name="fontcolor" id="fontcolor">
                                <option id="font-green" value="green">Green</option>
                                <option id="font-black" value="black">Black</option>
                                <option id="font-white" value="white">White</option>
                                <option id="font-red" value="red">Red</option>
                                <option id="font-yellow" value="yellow">Yellow</option>
                                <option id="font-blue" value="blue">Blue</option>
                            </select>
                    </td>
                </tr>
                <tr>
                    <td>Post color: </td>
                    <td>
                        <select name="postcolor" id="postcolor">
                                <option id="post-green" value="green">Green</option>
                                <option id="post-black" value="black">Black</option>
                                <option id="post-white" value="white">White</option>
                                <option id="post-red" value="red">Red</option>
                                <option id="post-yellow" value="yellow">Yellow</option>
                                <option id="post-blue" value="blue">Blue</option>
                            </select>
                    </td>
                </tr>
                <tr>
                    <input type="submit" value="Submit Query">
                </tr>
            </table>
        </form>
    </body>
    <script>
    
    </script>
    
    </html>
    