<html>

<head>
    <title>
        Saved
    </title>
</head>

<body>
    <div>
        <h1>
            <%= data.message%>
        </h1>
    </div>
    <br>
    <div>
        <a href="index">Back To Text</a>
    </div>
</body>

</html>
