<html>

<head>
    <title>Start Page</title>

    <script></script>
</head>

<body>
    <form action="text" method="POST" name="color choices">
        <table>
            <tr>
                <td>Background Color: </td>
                <td>
                    <select name="backgroundcolor" id="backgroundcolor">
                        <option value="back-black">black</option>
                        <option value="back-white">white</option>
                        <option value="back-red">red</option>
                        <option value="back-blue">blue</option>
                        <option value="back-yellow">yellow</option>
                        <option value="back-green">green</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Post Color: </td>
                <td>
                    <select name="postcolor" id="postcolor">
                        <option value="back-black">black</option>
                        <option value="back-white">white</option>
                        <option value="back-red">red</option>
                        <option value="back-blue">blue</option>
                        <option value="back-yellow">yellow</option>
                        <option value="back-green">green</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Font Color: </td>
                <td>
                    <select name="fontcolor" id="fontcolor">
                        <option value="font-black">black</option>
                        <option value="font-white">white</option>
                        <option value="font-red">red</option>
                        <option value="font-blue">blue</option>
                        <option value="font-yellow">yellow</option>
                        <option value="font-green">green</option>
                    </select>
                </td>
            </tr>
            <tr>
                <input type="submit">
            </tr>

        </table>
    </form>
</body>

</html>