<tr>
    <td>
        <label for="">
            <%= data.firstname %>
        </label>
    </td>
    <td>
        <label for="">
            <%= data.lastname %>
        </label>
    </td>
    <td>
        <label for="">
            <%= data.idnum %>
        </label>
    </td>
</tr>