<html>
    <head>
        <title>
            <%= data.name %>
        </title>
        <link rel="stylesheet" href="./common/style.css">
    </head>
    <body >
        <div >
            <span >
                <p class= "<%= data.name %>">This is an animal</p>
                <img class="<%= data.name %>">
            </span>
        </div>
    </body>
</html>